.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border: 1px solid black;

    font-size: 0px;
}

.display {
    display: flex;
    justify-content: end;
    font-size: 50px;
    border: 1px solid black;
}

.bot-numbers {
}

button {
    width: 55px;
    height: 55px;
}

.zero-button {
    width: 110px;
}
